name: tests

on:
  push:
    branches:
      - develop
      - main
      - components
  pull_request:
    branches:
      - develop
      - main
      - components

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3

      - run: composer install --no-interaction --prefer-dist

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm install
      - run: npm run build

      - run: php artisan test
